<html>
	<body>
		<div id="menu" class="menu" th:fragment="menu">
			
			<b>Menu</b>
			<div id="menuElem">
			  <ul>
			    <li><a id="menuHomeLink" th:href="@{/}" title="Home" th:text="#{home.page}">Home</a></li>
			    <li><a  th:href="@{/filebroker/list}" th:text="#{menu.filebrokers}" 	id="filebrokersListLink" 	>File brokers</a></li>
			    <li><a  th:href="@{/brokerservice/list}"  	th:text="#{menu.brokers}" 	id="brokersListLink" 	>Brokers</a></li>
			    <li><a  th:href="@{/server/list}"  	th:text="#{menu.servers}" 	id="serversListLink" 	>Servers</a></li>
			    <li><a  th:href="@{/location/list}" 	th:text="#{menu.locations}" id="locationsListLink"	>Locations</a></li>
			    <li><a  th:href="@{/transfer/list}" 	th:text="#{menu.transfers}" id="transfersListLink"	>Transfers</a></li>
				<li><a  th:href="@{/parameter/list}" th:text="#{menu.parameters}" id="parametersListLink">Parameters</a></li>
				<hr></hr>
			    <li><a  th:href="@{/transfers/running/}" th:text="#{menu.running}" id="runningLink" 	>Running</a></li>
			    <li><a  th:href="@{/transfers/succeeded/}" th:text="#{menu.finish.succes}" id="successLink" 	>Succeeded</a></li>
			    <li><a  th:href="@{/transfers/failed/}" th:text="#{menu.finish.failure}" id="failureLink" 	>Failed</a></li>
			    <li><a  th:href="@{/transfers/all/}" th:text="#{menu.transfers.all}" id="failureLink" 	>Failed</a></li>
			    <hr></hr>
			    <li><a  th:href="@{/export/all}" th:text="#{menu.export}" id="export" 	>Export</a></li>
			    <li><a sec:authorize="hasRole('ROLE_WRITE')" th:href="@{/import/}" th:text="#{menu.import}" id="import" 	>Import</a></li>
			  </ul>
			</div>
		</div>
	</body>
</html>