<html>
	<body>
		<div id="searchForm" class="searchForm" th:fragment="searchForm">
			<form action="#" th:action="@{/transfers/__${editPage}__/search}" th:object="${searchBean}" method="post">
			<div th:replace="fragments/editInputs :: input_standard(field='dateFrom')">Date from</div>
			<div th:replace="fragments/editInputs :: input_standard(field='dateTo')">date to</div>
			<div th:replace="fragments/editInputs :: input_standard(field='fileName')">File name</div>
			<input type="submit" name="search" value="Submit"
			th:attr="value=#{button.search}" id="search-button" class="button" />
			</form>
		</div>
	</body>
</html>